.tab-position {
  position: absolute;
  height: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background: #fff;
  p, span, input {
    font-family: Helvetica Neue, Tahoma, Arial;
  }
}
.el-tabs--left .el-tabs__item.is-left {
  text-align: center;
}

.el-tabs--left .el-tabs__active-bar.is-left, .el-tabs--left .el-tabs__nav-wrap.is-left::after {

}
